/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/********** GLOBAL ************************************************************/

body {
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

.header {
	text-shadow: 0 0 0 #000;
}

.header-title {
	padding: 0px !important;
}

.header-title h1 {
	padding: 10px 0px;
	line-height: 30px;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: auto;
}

.header-btn {
	margin: 7px 0px !important;
	padding: 0px 10px;
	height: 36px;
	top: 0px;
	border-radius: 0px;
	line-height: 36px;
}

.no-text-btn {
	margin: 0px !important;
	padding: 0px !important;
	width: 60px;
}

.header-btn::after {
	zoom: 150%;
	/*-moz-transform: scale(1.5);
	-webkit-zoom: 1.5;
	-ms-zoom: 1.5;*/
	left: 0px;
	top: 0px;
	margin: auto;
	width: 40px;
	height: 24px;
	border-radius: 0px;
}

.centered-list-block {
	text-align: center;
}

.centered-list-block a {
	display: inline-block;
}

.obscured {
	filter: brightness(70%);
}

.enhanced {
	filter: sepia(10%) saturate(150%);
}

.hidden {
	display: none;
}

.fixed-bottom-right {
	position: fixed;
	right: 15px;
	bottom: 15px;
	margin: 0px;
	padding: 0px;
}

.rounded-btn {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.rounded-btn::after {
	left: 0px;
	top: 0px;
	margin: auto;
	height: 60px;
	width: 60px;
	border-radius: 30px;
}

.ui-collapsible-heading .ui-btn {
	border-width: 1px;
}

.ui-collapsible {
	border: 0px !important;
	padding: 0px !important;
}

.ui-collapsible-content {
	border-width: 0 1px 1px 1px !important;
}

.ui-listview>li h2, .ui-listview>li h3 {
	margin: 0;
}

/*.ui-listview .ui-first-child .ui-btn {
	margin: 0px;
}*/

/********** SIGN IN PAGE ******************************************************/

/*#sign-in-page .ui-input-text {
	width: 60px;
	display: inline-block;
}

#sign-in-page .ui-input-text input {
	text-align: center;
}*/

#sign-in-page .device .ip-address {
	display: inline-block;
}

#sign-in-page .device .controlgroup-textinput {
	padding: 0;
	height: 45px;
	width: 70px;
}

#sign-in-page .device .ip-address input {
	font-size: 21px;
}

#sign-in-page .device .name {
	height: 20px;
}

/********** PROFILES PAGE *****************************************************/

#profiles-page .profiles {
	width: 300px;
	margin: auto;
}

#profiles-page .profile-btn {
	margin: 10px 0px;
	padding: 0px;
	border-color: transparent;
	background-color: transparent;
	/*z-index: 10;*/
}

#profiles-page .profile-btn .profile-name {
	font-size: 20px;
	font-weight: normal;
	margin: 5px 0px;
}

#profiles-page .profile-btn::after {
	zoom: 200%;
	/*-moz-transform: scale(1.5);
	-webkit-zoom: 1.5;
	-ms-zoom: 1.5;*/
	margin: 0px;
	padding: 0px;
	left: 15px;
	top: 15px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
}

/********** EDIT PROFILE ******************************************************/

#edit-profile-page .profile-avatar {
	display: block;
	margin: 20px auto;
}

#edit-profile-page .profile-name-wrapper {
	width: 70%;
	margin: 20px auto;
}

#edit-profile-page .avatars {
	margin: 50px 10px;
}

#edit-profile-page .avatar-btn {
	padding: 0px;
	margin: 5px 0px;
	width: 70px;
	height: 70px;
}

#edit-profile-page .footer {
	text-align: center;
}

#edit-profile-page .remove-btn {
	display: inline-block;
	margin: 5px 0px;
	background: transparent;
	border: none;
	font-size: 15px;
}

/********** ADD PROFILE *******************************************************/

#add-profile-page .profile-avatar {
	display: block;
	margin: 20px auto;
}

#add-profile-page .profile-name-wrapper {
	width: 70%;
	margin: 20px auto;
}

#add-profile-page .avatars {
	margin: 50px 10px;
}

#add-profile-page .avatar-btn {
	padding: 0px;
	margin: 5px 0px;
	width: 70px;
	height: 70px;
}

/********** CONTROL PANEL PAGE ************************************************/

#control-panel-page .room-icon {
    max-width: 100px;
    max-height: 100px; 
	width: 100px;
	height: 100px;
	margin: 10px;
}

#control-panel-page .room-smart-btn {
	height: 100px;
	padding-left: 120px;
}

#control-panel-page .room-smart-btn::after {
	zoom: 200%;
	width: 30px;
	height: 30px;
	left: 15px;
	top: 15px;
	margin: 0px;
	border-radius: 25px;
}

#control-panel-page .room-manual-btn {
	width: 60px;
	z-index: 0;
}

#control-panel-page .room-manual-btn::after {
	zoom: 125%;
}

#control-panel-page .room-smart-btn .active-profile-avatar {
	margin-right: 5px;
}

#control-panel-page .footer{
	position: fixed;
	top: 100%;
	width: 100%;
}

#control-panel-page .footer .title {
	text-align: left;
	font-size: 20px !important;
	font-weight: normal;
	padding: 0px;
	margin: 10px 30px;
}

#control-panel-page .footer .smartsets {
	display: block;
}

#control-panel-page .footer .close-footer-btn {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

#control-panel-page .footer .close-footer-btn::after {
	zoom: 120%;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	margin: 0px;
}

#control-panel-page .footer .smartset-btn {
	z-index: 0;
}

#control-panel-page .footer .smartset-name {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

/********** EDIT ROOM *********************************************************/

#edit-room-page .room-icon {
	display: block;
	margin: 20px auto;
}

#edit-room-page .room-name-wrapper {
	width: 70%;
	margin: 20px auto;
}

#edit-room-page .icons {
	margin: 50px 10px;
}

#edit-room-page .icon-btn {
	padding: 0px;
	width: 70px;
	height: 70px;
	margin: 5px;
}

#edit-room-page .footer {
	text-align: center;
}

#edit-room-page .remove-btn {
	display: inline-block;
	margin: 5px 0px;
	background: transparent;
	border: none;
	font-size: 15px;
}

/********** ADD ROOM **********************************************************/

#add-room-page .room-icon {
	display: block;
	margin: 20px auto;
}

#add-room-page .room-name-wrapper {
	width: 70%;
	margin: 20px auto;
}

#add-room-page .devices {
	width: 70%;
	margin: 20px auto;
}

#add-room-page .icons {
	margin: 50px 10px;
}

#add-room-page .icon-btn {
	padding: 0px;
	width: 70px;
	height: 70px;
	margin: 5px;
}

/********** MANUAL PANEL PAGE *************************************************/

#manual-panel-page .main .smartsets {
	width: 90%;
	margin: 20px auto;
}

#manual-panel-page .ui-popup-container {
    width: 70%;
}

#manual-panel-page .item,
#manual-panel-page .smart-item {
	min-height: 60px;
	/*padding: 10px 10px 10px 100px;*/
	padding: 10px;
	border-width: 1px 0 0;
    border-style: solid;
	border-color: #ddd;
}

#manual-panel-page .items :last-child {
	border-width: 1px 0;
}

#manual-panel-page .smart-items :first-child {
	border-width: 0;
}

#manual-panel-page .item .item-inner,
#manual-panel-page .smart-item .smart-item-inner {
	margin: 0px;
	height: 60px;
}

#manual-panel-page .item .item-active-btn,
#manual-panel-page .smart-item .smart-item-active-btn {
	/*position: absolute;
	top: 0px;
	left: 0px;*/
	display: inline-block;
	margin: 0 20px 0 10px;
	border-width: 0;
	padding: 0px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

#manual-panel-page .item[active="true"],
#manual-panel-page .smart-item[active="true"] {
	background-color: #fafafa;
	filter: sepia(10%) saturate(250%);
}

#manual-panel-page .item .item-active-btn::after,
#manual-panel-page .smart-item .smart-item-active-btn::after {
	zoom: 175%;
	width: 35px;
	height: 35px;
	left: 0px;
	top: 0px;
	margin: 0px;
	border-radius: 18px;
}

#manual-panel-page .item .item-name,
#manual-panel-page .smart-item .smart-item-name {
	display: inline-block;
	line-height: 60px;
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
}

/*#manual-panel-page .item .warning-btn {
	margin: 0 5px;
	background: none;
	border: 0;
}

#manual-panel-page .item .warning-btn::after {
	width: 20px;
	height: 20px;
}*/

#manual-panel-page .item .item-smart-btn,
#manual-panel-page .smart-item .smart-item-remove-btn {
	position: absolute;
	top: -1px;
	right: 0;
	padding: 0;
	margin: 0;
	height: 80px;
	width: 80px;
}

#manual-panel-page .item .item-smart-btn::after,
#manual-panel-page .smart-item .smart-item-remove-btn::after {
	zoom: 130%;
	width: 30px;
	height: 30px;
	left: 17px;
	top: 16px;
	margin: 0px;
	border-radius: 150px;
}

#manual-panel-page .item .control.ui-first-child {
	margin-top: 10px;
}

#manual-panel-page .item .ui-field-contain {
	border-bottom-width: 0;
	margin: 0;
}

#manual-panel-page .smartsets-panel {
	position: fixed;
	top: 100%;
	width: 100%;
}

#manual-panel-page .smartsets-panel .title {
	text-align: left;
	font-size: 20px !important;
	font-weight: normal;
	padding: 0px;
	margin: 10px 30px;
}

#manual-panel-page .smartsets-panel .add-to-new-smartset-btn {
	right: 50px;
}

#manual-panel-page .smartsets-panel .close-panel-btn {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

#manual-panel-page .smartsets-panel .close-panel-btn::after {
	zoom: 120%;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	margin: 0px;
}

#manual-panel-page .smartsets-panel .smartset-name {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

/********** EDIT ITEM *********************************************************/

#edit-item-page .item-icon {
	position: absolute;
	margin: 20px;
}

#edit-item-page .item-name-wrapper {
	margin: 0px 20px 0px 140px;
	padding: 40px 0px;
}

/*#edit-item-page .ports {
	width: 70%;
	margin: 20px auto;
}*/

#edit-item-page .icons {
	margin: 120px 10px;
}

#edit-item-page .icon-btn {
	padding: 0px;
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 35px;
}

#edit-item-page .footer {
	text-align: center;
}

#edit-item-page .remove-btn {
	display: inline-block;
	margin: 5px 0px;
	background: transparent;
	border: none;
	font-size: 15px;
}

/********** ADD ITEM **********************************************************/

#add-item-page .item-icon {
	position: absolute;
	margin: 20px;
}

#add-item-page .item-name-wrapper {
	margin: 0px 20px 0px 140px;
	padding: 40px 0px;
}

#add-item-page .controls-wrapper {
	width: 90%;
	margin: 20px auto;
}

#add-item-page .control-options .row-1 .ui-block-a {
	width: 70%;
}

#add-item-page .control-options .row-1 .ui-block-b {
	width: 30%;
}

#add-item-page .control-options .row-2 .ui-block-a {
	width: 60%;
}

#add-item-page .control-options .row-2 .ui-block-b {
	width: 40%;
}

#add-item-page .control-options .ui-input-text {
	margin: 8px;
}

#add-item-page .control-options .device-name {
	height: 36px;
}

#add-item-page .control-options .control-type {
	margin: 8px 5px;
}

#add-item-page .control-options .control-type .ui-controlgroup-controls {
	width: 100%;
}

#add-item-page .control-options .control-type .ui-radio {
	width: 50%;
}

#add-item-page .control-options .control-type .ui-btn {
	height: 18px;
	padding: 9px 12px;
	line-height: 20px;
	text-align: center;
}

#add-item-page .control-options .ports {
	margin: 8px 0px;
}

#add-item-page .control-options .ports .ui-btn {
	/*margin: 8px 0px;*/
	padding: 9px 12px;
	border-width: 1px;
	height: 18px;
	font-size: 15px;
}

#add-item-page .linear-options .ui-block-a,
#add-item-page .linear-options .ui-block-c {
	width: 20%;
}

#add-item-page .linear-options .ui-block-b {
	width: 60%;
}

/*#add-item-page .linear-options {
	display: none;
}*/

#add-item-page .linear-options .ui-input-text {
	margin: 8px;
}

#add-item-page .linear-options .linear-min,
#add-item-page .linear-options .linear-max {
	height: 36px;
	text-align: center;
}

#add-item-page .linear-slider {
    display: none;
}

#add-item-page .linear-options .ui-slider {
	margin: 12px 0;
}

#add-item-page .ui-slider-track {
	margin-left: 15px;
}

/*#add-item-page .ports {
	width: 70%;
	margin: 20px auto;
}*/

#add-item-page .icons {
	margin: 20px 10px;
}

#add-item-page .icon-btn {
	padding: 0px;
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 35px;
}