/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/********** GLOBAL ************************************************************/

body {
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

.header {
	text-shadow: 0 0 0 #000;
}

.header-left {
	position: absolute;
	top: 0px;
	left: 10px;
}

.header-center {
	margin: 8px 0px;
}

.header-right {
	position: absolute;
	top: 0px;
	right: 10px;
}

.header h2 {
	font-weight: normal;
	text-align: center;
	margin: 0px;
}

.main {
	width: auto;
	margin: 0;
	padding: 0;
	border: 0;
	text-shadow: 0 0 0 #000;
}

/********** SIGN IN PAGE ******************************************************/

#sign-in-page .ui-input-text {
	width: 60px;
	display: inline-block;
}

#sign-in-page .ui-input-text input {
	text-align: center;
}

/********** PROFILES PAGE *****************************************************/

#profiles-page .profiles-container {
	width: 220px;
	margin: auto;
}

#profiles-page .float-bottom-right {
	width: 50px;
	position: fixed;
	bottom: 0px;
	right: 10px;
}

/********** CONTROL PANEL PAGE ************************************************/

#control-panel-page .rooms-container {
	width: 220px;
	margin: auto;
}

#control-panel-page .float-bottom-right {
	width: 50px;
	position: fixed;
	bottom: 0px;
	right: 10px;
}

#control-panel-page #smartsets-panel {
	position: fixed;
	bottom: 0px;
	width: 100%;
	/*background-color: #333;
	color: white;*/
}

#control-panel-page #smartsets-panel p {
	padding: 0px;
	margin: 0px;
}

#control-panel-page #smartsets-panel .top {
	display: flex;
	justify-content: space-between;
}

#control-panel-page #smartsets-panel .top div {
	margin: 15px 30px;
}

#control-panel-page #smartsets-panel .top .right {
	color: dodgerblue;
}

#control-panel-page #smartsets-panel hr {
	border: transparent;
	border-top: 1px solid #dddddd;
	margin: 5px 0px;
}

#control-panel-page #smartsets-panel .smartset {
	margin: 15px 30px;
}

.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:3em;
    /* remove boxshadow and border */
    border:none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px; 
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}

/********** MANUAL PANEL PAGE *************************************************/

#manual-panel-page .items-list {
	/*width: 220px;*/
	/*margin: auto;*/
}

#manual-panel-page .item {
	position: relative;
	margin: 0px;
}

#manual-panel-page .item .active-btn {
	display: inline-block;
	width: 120px;
	margin: 0px;
	/*margin: auto;*/
}

#manual-panel-page .item .active-btn h3 {
	margin:0px;
}

#manual-panel-page .item .smart-container {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#manual-panel-page .item .smart-container .smart {
	position: relative;
	/*display: inline-block;*/
	margin: 5px 0px 0px 0px;
}

#manual-panel-page .item .smart-container .smart button {
	margin: 0px;
	padding: 0px 10px;
}

#manual-panel-page .item .smart-container .smart .on-btn {
	background-color: #2deb82;
}

#manual-panel-page .item .smart-container .smart .off-btn {
	background-color: #cccccc;
}

#manual-panel-page .item .smart-container .smart p {
	color: white;
	margin: 5px 15px;
	font-weight: normal;
	font-size: 15px;
}

#manual-panel-page .items-list hr {
	border: transparent;
	border-top: 2px solid #dddddd;
	margin: 15px 0px;
}

#manual-panel-page .float-bottom-right {
	width: 50px;
	position: fixed;
	bottom: 0px;
	right: 10px;
}
